tqdm==4.43.0
scikit-learn==0.20.4
pandas==1.0.1
loguru==0.4.1
Flask==1.1.1
requests==2.22.0
flask_cors==3.0.8
jsonschema==3.0.2
waitress==1.4.3
boto3==1.12.24
messytables==0.15.2
fastparquet==0.3.2
s3fs==0.4.0